*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;

    background-color: aqua;
    height: 200px;
}